.content-wrapper{
  .page{
    width: $widthPage;
    height: $heightPage;
    position: relative;
    transform: scale($scale);
    transform-origin: 0 0;
    left: 30%;
    margin-left: 0%;
    background-color: #FFF;
    .page-wrapper{
      margin: $margintop $marginleft;
      width: $widthPage - ($marginleft * 2);
      height: $heightPage - ($margintop * 2);
      .content{
        width: auto;
        height: auto;
        min-width: 1cm;
        min-height: 1cm;
        position:absolute;
        cursor: pointer;
        word-wrap: break-word;
        &.active-pj{
          border: 2px solid blue; 
        }
        &.debug{
          border:2px solid red;
        }
      }

    }
  }
}