// I M P O R T    F O N T S
@import "../fonts/aileron/stylesheet.css";
@import "../fonts/Fira-Sans/stylesheet.css";
@import "../fonts/inknut/stylesheet.css";
@import "../fonts/nanook/stylesheet.css";
@import "../fonts/Reglo/stylesheet.css";
@import "../fonts/roboto/stylesheet.css";
@import "../fonts/terminal/stylesheet.css";
@import "../fonts/volkorn/stylesheet.css";

@import "settings.scss";

// PAGE SETTINGS
$widthPage: $page-widthPage;
$heightPage: $page-heightPage;
$margintop: $page-margintop;
$marginleft: $page-marginleft;

$scale : $page-scale;











