// I M P O R T
@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/foundation/scss/foundation.scss";


@import "_variables.scss";

@import "_index.scss";


*{
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height:100%;
  margin:0;
}

// h1, h2, h3, h4, h5, h6{
//   font-family: $titleFont, sans-serif;
//   margin-bottom: 0.1cm;
// }

// h1{font-size: $h1Size;line-height: 125%;}
// h2{font-size: $h2Size;}
// h3, h4, h5{font-size: $h3Size;}
// h4{text-align: right; margin-bottom: 0.3cm;}
// h6{
//   position:absolute;
//   // left: $marginleft;
//   font-size: $h6Size;
//   max-width: ($widthPage/2) - ($marginleft*2);
//   line-height:110%;
// }

// li{
//   // list-style: none;
//   font-family: $textFont, serif;
//   font-size: $textSize;
//   line-height: 125%;
//   word-wrap: break-word;
// }
// p{
//   font-family: $textFont, serif;
//   font-size: $textSize;
//   line-height: 125%;
//   word-wrap: break-word;
//   &:first-child{
//     margin: 0;
//   }
// }

// a{color: #000; text-decoration: underline;}

// pre{
//   margin-bottom: 0.5cm;
//   box-sizing: content-box;
//   border:0;
// }
// code{
//   background-color: #FFF;
//   border:none;
// }

p{
  margin-bottom: 0;
}

img{
  max-width: 100%;
}

.row{
  width:100%;
  max-width: 100%;
}

textarea{
  font-family: monospace;
  font-size: 11pt;
}

header{
  height: 45px;
  background-color: #000;
  color: #FFF;
  position:fixed;
  width: 100%;
  top:0;
  z-index: 200;
  @include clearfix;
  .module--infos{
    padding-left: 20px;
    h1, h2{
      position: relative;
      margin:0;
      padding: 14px 10px;
      font-size: 14px;
      float: left;
      line-height:120%;
      color: #FFF;
      font-weight: normal;
      font-family:"nanook", serif;
      a{color: #FFF; text-decoration:none; &:hover{color: #FFF; text-decoration:none;}}
    }
  }
  .module--interface-features{
    float:right;
    padding-right: 20px;
    & div{
      float: left;
      position:relative;
      padding: 5px 10px;
      margin: 5px;
      cursor: pointer;
      font-size: 14px;
      border: 2px solid #FFF;
      border-radius: 15%;
      &.zoomFunction{
        border: none;
        margin-top: 7px;
        span{
          padding-left: 10px; 
          padding-right: 10px;
          &.plusButton, &.minusButton{
            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid #FFF;
            border-radius: 20%;
          }
        }
      }
      &.active{
        color: #000;
        background-color: #FFF;
      }
    }
  }
}

.content-wrapper{
  background: #DFDFDF;
  width: 100%;
  padding-top: 70px;
  .module--sidebar{
    width: 400px;
    height: 92vh;
    position:fixed;
    top:50px;
    right:0;
    background-color: #C3C3C3;
    z-index: 100;
    textarea{
      height: 28vh;
    }
    &.pj-machine-mode{
      display:none;
    }
  }
  .page{
    width: $widthPage;
    height: $heightPage;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    position: relative;
    transform: scale($scale);
    transform-origin: 0 0;
    left: 40%;
    margin-left: -25%;
    .infos-css{
      font-size: 35px;
      background-color: #A6A6A6;
      padding: 10px 20px;
      position:absolute;
      right: 0;
      transform: translateX(100%);
      top:0;
      span{
        color: #000;
      }
    }
    .page-wrapper{
      margin: $margintop $marginleft;
      width: $widthPage - ($marginleft * 2);
      height: $heightPage - ($margintop * 2);
      .content{
        width: auto;
        height: auto;
        min-width: 7cm;
        min-height: 1cm;
        position:absolute;
        cursor: pointer;
        .infos-css{
          display:none;
        }
        &.active-block{
          border: 2px solid violet; 
          .infos-css{
            display:block;
          }
        }
        &.debug{
          border:2px solid red;
        }
      }

    }
  }
}

.page{
  background-color: #FFF;
}

.page.pj-machine-mode{
  .content{
    &.active-pj{
      border: 2px solid blue !important; 
    }
  }
}

body[data-page="print"]{
  .content-wrapper{
    padding-top:0;
    background-color:#FFF;
    .page{ 
      transform:none;
      left:0; 
      margin: 0;
      .page-wrapper{
        margin: 0;
      }
    }
  }
}

body.preview{
  .grid{
    display:none;
  }
  .content{
    border:none !important;
  }
  .infos-css, .module--sidebar{
    display:none !important;
  }
}


// PAGE GENERATED
.grid{
  height: $heightPage - ($margintop * 2);
  width: 100%;
  border: 1px solid #00AADA;
  display:none;
  div{
    height:100%;
    width: 3.33%;
    border-right: 1px solid #DA0097;
    &:last-child{border:none;}
  }
  &.active{
    display:block;
  }
}

.js--templates {
  display: none;
}
