doctype html
html
  include snippets/head.jade
  body(data-page='index')

    .module--bandeau
      #intro
        h1 PJ Machine
        h1
          span.p1 Pre
          span.p2 Post
          span.p3 Print

    .module--listePresentations
      .dossier-list
        .dossier.dossier_newconfform
          h2 Create New Poster
          form(onsubmit='return false;' class='add-new-conf-form')
            .title
              input(type='text' class='title' placeholder='Title')
            input(type='submit' class='js-add-conf' value='Add')

    .js--templates
      .dossier(data-nom)
        .index
        .dossier-inside
          a.folder-link(href title)
            .title


    include snippets/footer.jade
    //- specific scripts
    script(src='/js/index.js')


