doctype html
html
  include snippets/head.jade
  
  body(data-page='poster')

    header
      .module--infos
        h1 #{appName}
        h2 #{confName}
      .module--interface-features
        .zoomFunction
          span.plusButton + 
          span.zoom-value 100%
          span.minusButton - 
        .gridButton grid
        .debugButton debug


    .content-wrapper
      #page-content.page
        div(class="page-wrapper" data-part="0")
          .grid.row
            - for (var i = 0; i < 30; ++i) {
              div.grid-el.columns
            - }
      .module--sidebar
        button.js--add-block +
        .module--block-selected
          p
        .module--md-editor
          span  Markdown Editor
          textarea
          button.js--submit-md-editor Run
        .module--css-editor
          span Css Editor
          textarea
          button.js--submit-css-editor Run


    .js--templates
      .content.--js-content-el
        button.js--remove-block -

    include snippets/footer.jade
    script(src='/js/poster.js')


