doctype html
html
  include snippets/head.jade
  
  body(data-page='poster')

    header
      .module--infos
        h1 
          a(href="/") #{appName}
        h2 #{confName}
      .module--interface-features
        .zoomFunction
          span.plusButton + 
          span.zoom-value 30%
          span.minusButton - 
        .previewButton preview
        .gridButton grid
        .debugButton debug
        .pjMachineButton PJ Machine Mode


    .content-wrapper
      #page-content.page(data-active-block= 1)
        .infos-css .page
        .page-wrapper
          .grid.row
            - for (var i = 0; i < 30; ++i) {
              div.grid-el.columns
            - }
      .module--sidebar
        button.js--add-block + add a block
        .module--block-selected
          p
        .module--md-editor
          span  Markdown Editor
          textarea(disabled=false)
          button.js--submit-md-editor Run
        .module--css-editor
          span Css Editor
          textarea
          button.js--submit-css-editor Run


    .js--templates
      .content.--js-content-el


    include snippets/footer.jade
    script(src='/js/poster.js')


