script
  | var app = {};
  | app.currentFolder = "!{contentFolder}";
  | app.currentProject = "!{slugConfName}";

script(src='/socket.io/socket.io.js')
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/foundation/js/foundation.min.js')
script(src='/bower_components/showdown/dist/showdown.min.js')
script(src='/bower_components/jquery-ui/jquery-ui.min.js')
script(src='/js/jquery.textfill.js')
script(src='/settings.js')
script(src='/js/plugins.js')